// Settings
// ==================================================
$hamburger-padding-x                       : 10px;
$hamburger-padding-y                       : 10px;
$hamburger-layer-width                     : 23px;
$hamburger-layer-height                    : 3px;
$hamburger-layer-spacing                   : 4px;
$hamburger-layer-color                     : $robins-egg;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;
$hamburger-hover-filter    : opacity(50%);
