$time: 0.5s;
$time-quick: 0.25s;
$calendar-gray: #ccc;

@mixin noselect
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

@mixin vertical-padding($size: 5px)
{
	padding-top: $size;
	padding-bottom: $size;
}

span.calendar-overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
}

.clndr{
	float: left;
	width: 100%;
	overflow: hidden;
	border-bottom: 7px solid $brand-primary;
	.clndr-controls{
		float: left;
		width: 100%;
		background-color: $brand-primary;
		color: white;
		.clndr-previous-button, .clndr-next-button{
			width: 15%;
			float: left;
			text-align: center;
			cursor: pointer;
			transition: $time ease-out;
			@include vertical-padding;
			@include noselect;
			&:hover{
				background-color: darken($brand-primary, 10%);
			}
		}
		.month{
			width: 70%;
			float: left;
			text-align: center;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 1px;
			@include vertical-padding;
		}
	}
    .header-days{
        float: left;
        width: 100%;
        background-color: $calendar-gray;
        @include vertical-padding;
        .header-day{
            width: 14.28%;
            float: left;
            text-align: center;
            color: white;
			font-size: 2rem;
        }
    }
	.clndr-table{
		position: relative;
		float: left;
		width: 100%;
		@include clearfix;
		.day, .empty{
			width: 14.28%;
			float: left;
			font-size: 2rem;
			text-align: center;
			color: #000;
			border-right: 1px solid rgba(#fff, 0.5);
			border-bottom: 1px solid rgba(#fff, 0.5);
			cursor: pointer;
			@include vertical-padding(8px);
			@include transition(0.15s ease-out);
			&:hover{
				background: darken($calendar-gray, 5%);
			}
			&.past, &.inactive{
				cursor: default;
				&:hover{
					background: $calendar-gray;
				}
			}
			&.today{
				background: rgba(0, 0, 0, 0.3);
				color: #fff;
			}
			&.event{
				background-color: $brand-danger;
				cursor: pointer;
				transition: $time ease-out;
				color: #fff;
				&:hover
				{
					background-color: darken($brand-danger, 20%);
				}
			}
			&.adjacent-month, &.past{
				color: rgba(#000, 0.3);
			}
		}
		.empty{
			height: 31px;
			vertical-align: bottom;
		}
	}
}
