form{
  label.error{
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: $label-font-weight;
    line-height: 1;
    color: $label-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    @include border-radius();
    @include label-variant($label-danger-bg);
  }
  .google-map{
      height: 350px;
  }
  .-dante{
      background: #FFF7EF;
      padding: 20px 20px 0 20px;
      margin-bottom: -20px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(#000, 0.1);
      .section-inner{
          width: 100%;
      }
      img{
          border-radius: 4px;
      }
      .imageCaption{
          position: static;
          display: block;
          width: 100%;
          min-height: 30px;
          text-align: left;
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          padding-bottom: 10px;
          &:before{
              border: 0;
          }
      }
      .-content{
        min-height: 80px;
      }
   }
}
