/*
 * partials/_header.scss
 */
#main-top{
    > header{
        a.logo{
            width: 140px;
        }
    }
}

/*
 * partials/_featured.scss
 */
section.featured{
    padding: 140px 0 50px 0;
    min-height: 100%;
    article{
        background-image: none !important;
    }
    form{
        display: none;
    }
}
