.-post-head{
    height: 510px;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    position: relative;
    &:before{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background: rgba($dark-grey, 0.3);
    }
    .wrapper{
        bottom: 0;
        position: absolute;
        padding-bottom: 100px;
        span.cat{
            display: block;
            color: $cool-grey;
            font-family: ContrailOne;
            margin-bottom: 8px;
            a{
                font-size: 1.4rem;
                text-transform: uppercase;
                display: inline-block;
                color: $cool-grey;
                &:after{
                    content: ", ";
                }
                &:last-child:after{
                    content: "";
                }
            }
        }
        h1{
            font-size: 4.4rem;
            color: #fff;
            text-transform: uppercase;
            line-height: 44px;
        }
        time{
            color: $white;
            font-size: 1.2rem;
        }
    }
}
.blog{
    &.-list, .-list{
        .alert{
            margin-top: 40px;
        }
        .row{
            display: flex;
            flex-flow: row wrap;
        }
        > h3{
            text-transform: uppercase;
            font-size: 2.4rem;
            margin-bottom: 20px;
            a{
                font-size: 1.4rem;
            }
        }
        article{
            &.-tiny{
                text-align: center;
                figure{
                    position: relative;
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 14px;
                        height: 14px;
                        border-radius: 4px 0 0 0;
                        background: rgba($dark-grey, 0.9);
                    }
                    img{
                        border-radius: 4px;
                        width: 100%;
                        height: auto;
                    }
                }
            }
            &.-featured{
                height: 440px;
                margin: 60px 0;
                display: flex;
                align-items: flex-end;
                position: relative;
                background-image: url('../images/delete/post-bg-01.jpg');
                background-size: cover;
                background-position: center;
                border-radius: 4px;
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 14px;
                    height: 14px;
                    border-radius: 4px 0 0 0;
                    background: rgba($dark-grey, 0.9);
                }
                &:before{
                    background-color: rgba(#000, 0.3);
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    border-radius: 4px;
                }
                .wrapper{
                    position: relative;
                    padding: 40px;
                    span.cat{
                        color: #d7d7d7;
                        a{
                            color: #d7d7d7;
                        }
                    }
                    h2{
                        font-size: 3rem;
                        text-transform: uppercase;
                        a{
                            color: $white;
                        }
                    }
                    time{
                        color: $white;
                        font-size: 1.2rem;
                    }
                }
            }
            &.-loop{
                margin-bottom: 30px;
                figure{
                    position: relative;
                    img{
                        border-radius: 4px;
                        width: 100%;
                        height: auto;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 10px;
                        width: 14px;
                        height: 14px;
                        border-radius: 4px 0 0 0;
                        background: rgba($dark-grey, 0.9);
                    }
                }
                h3{
                    font-size: 3rem;
                    text-transform: uppercase;
                    a{
                        color: $aqua-blue;
                    }
                }
                time{
                    color: $cool-grey;
                    font-size: 1.2rem;
                    margin-bottom: 10px;
                    display: block;
                }
                p{
                    border-bottom: 1px solid #d8d8d8;
                    padding-bottom: 30px;
                    font-size: 1.6rem;
                }
            }
        }
    }
    &.-read, .-read{
        .-list{
            margin-top: 60px;
        }
    }
    .-sidebar{
        margin-top: 0;
        nav{
            padding-bottom: 30px;
            margin-bottom: 40px;
            border-bottom: 1px solid #d8d8d8;
            &:last-of-type{
                margin-bottom: 0;
                padding-bottom: 0;
                border: 0;
            }
        }
    }
    /* globals */
    span.cat{
        display: block;
        color: $cool-grey;
        font-family: ContrailOne;
        margin-bottom: 8px;
        a{
            font-size: 1.4rem;
            text-transform: uppercase;
            display: inline-block;
            color: $cool-grey;
            &:after{
                content: ", ";
            }
            &:last-child:after{
                content: "";
            }
        }
    }
}
