.cart{
    &.-list, .-list{
        article{
            padding: 60px 0;
            > .container{
                display: flex;
                flex-flow: row wrap;
            }
            &:nth-child(even){
                background: $white-two;
            }
            &.package{
                h2{
                    text-transform: uppercase;
                    font-size: 2.3rem;
                    margin-bottom: 0.5em;
                    a{
                        color: $dark-grey;
                    }
                }
            }
            button.remove{
                background: transparent;
                border: 0;
                padding: 0;
                font-size: 1.2rem;
                color: $watermelon;
                margin-bottom: 2em;
            }
            figure{
                position: relative;
                span{
                    background: #2f3237;
                    color: $aqua-blue;
                    font-family: ContrailOne;
                    font-size: 2rem;
                    padding: 12px;
                    position: absolute;
                    left: 15px;
                    top: 5px;
                    border-radius: 4px;
                }
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 4px;
                }
            }
            fieldset{
                .form-group:last-child{
                    margin-bottom: 0;
                }
            }
            .subtotal{
                align-self: flex-end;
                text-align: right;
                padding-bottom: 30px;
                > span{
                    display: block;
                    font-family: ContrailOne;
                    line-height: 120%;
                    &:first-child{
                        font-size: 1.7rem;
                        color: $cool-grey;
                        text-transform: uppercase;
                    }
                    &.value{
                        color: $dark-grey;
                        font-size: 3rem;
                    }
                    &.amount{
                        color: $dark-grey;
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    > footer{
        margin-top: 60px;
        .total{
            > span{
                display: block;
                font-family: ContrailOne;
                line-height: 120%;
                &:first-child{
                    font-size: 2.8rem;
                    color: $cool-grey;
                    text-transform: uppercase;
                }
                &:last-child{
                    font-size: 4rem;
                    color: $dark-grey;
                }
            }
        }
        .forward{
            text-align: right;
        }
    }
}
