.contact{
    margin-top: 60px;
    form{
        margin-top: 80px;
        h3{
            font-size: 2.4rem;
            color: $cool-grey;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        fieldset{
            > .form-group:last-child{
                margin-bottom: 0;
            }
        }
        footer{
            text-align: right;
            input[type="submit"]{
                font-size: 1.3rem;
            }
        }
    }
    aside.-sidebar{
        margin-top: 0;
        > h4{
            text-transform: uppercase;
            font-size: 2rem;
            color: $cool-grey;
            margin-bottom: 30px;
        }
        nav{
            margin-bottom: 30px;
            > span{
                text-transform: none;
            }
        }
        a.faq{
            border: 1px solid $cool-grey;
            padding: 10px;
            display: block;
            font-size: 1.1rem;
            border-radius: 4px;
            text-align: center;
            font-family: ContrailOne;
            color: $cool-grey;
        }
    }
}
