.customer{
    &.-profile, .-profile{
        margin-top: 60px;
        h3{
            font-size: 3.4rem;
        }
        h4{
            text-transform: lowercase;
            color: $cool-grey;
            margin-bottom: 20px;
        }
        p, ul{
            color: $aqua-blue;
            line-height: 120%;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        ul{
            padding-left: 0;
            li{
                list-style: none;
            }
        }
    }
    &.-edit, .-edit{
        margin-top: 60px;
        fieldset{
            margin-bottom: 30px;
        }
        h2{
            text-transform: uppercase;
            font-size: 2.4rem;
            color: $cool-grey;
            margin-bottom: 30px;
        }
    }
    a.edit{
        background: transparent;
        border: 0;
        color: $aqua-blue;
        font-size: 1.6rem;
        font-family: ContrailOne;
        text-transform: uppercase;
        padding: 10px 0;
        outline: none;
    }
}
