#main-top{
    position: relative;
    background-size: cover;
    background-position: center;
    > header{
        background: $dark-grey;
        a.logo{
            display: inline-block;
            width: 190px;
            margin: 27px 0;
            padding-left: 10px;
            img{
                width: 100%;
                height: auto;
            }
        }
        nav#main-menu{
            float: right;
            font-size: 1.2rem;
            > ul{
                padding-left: 0;
                margin-bottom: 0;
                display: flex;
                flex-flow: row wrap;
                > li{
                    list-style: none;
                    position: relative;
                    display: inline-block;
                    &.-submenu{
                        a{
                            padding-right: 30px;
                        }
                    }
                    &.dropdown{
                        button{
                            background: transparent;
                            border: 0;
                            font-size: 1.2rem;
                            padding: 32px 20px;
                            color: $cool-grey;
                            font-weight: 500;
                            outline: none;
                        }
                        .dropdown-menu{
                            border-radius: 4px;
                            top: 70%;
                            font-size: 1.2rem;
                        }
                    }
                    > a{
                        display: inline-block;
                        padding: 32px 20px;
                        position: relative;
                        color: $cool-grey;
                        span.icon{
                            margin-top: 3px;
                            font-size: 2rem;
                            position: absolute;
                            top: 50%;
                            right: 5px;
                            transform: translate(0, -50%);
                        }
                    }
                    > ul{
                        padding-left: 0;
                        position: absolute;
                        display: none;
                        li{
                            a{
                                display: block;
                            }
                            list-style: none;
                        }
                    }
                }
            }
        }
        nav.social{
            float: right;
            padding-left: 20px;
            padding-right: 5px;
            a{
                display: inline-block;
                padding: 23px 3px;
                font-size: 2.5rem;
                color: $cool-grey;
            }
        }
    }
    > footer{
        &.-fixed{
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 10;
        }
        &.-dark{
            background: rgba($dark-grey, 0.65);
            nav#sub-menu{
                a{
                    color: $white;
                    &.icon{
                        color: rgba($white-two, 0.6);
                    }
                }
            }
        }
        nav#sub-menu{
            padding-left: 10px;
            float: left;
            a{
                font-family: ContrailOne;
                font-size: 1.6rem;
                color: $dark-grey;
                display: inline-block;
                padding: 25px 20px 25px 0;
                position: relative;
                &.icon{
                    color: $cool-grey;
                    &:before{
                        position: absolute;
                        top: 50%;
                        transform: translate(0, -50%);
                        font-size: 3rem;
                    }
                }
            }
        }
        nav.extra{
            float: right;
            padding-top: 16px;
            padding-bottom: 16px;
            padding-right: 10px;
            a, button{
                background: $dark-grey;
                padding: 10px;
                padding-left: 40px;
                font-size: 1.2rem;
                border-radius: 4px;
                position: relative;
                float: left;
                margin-left: 5px;
                color: $white;
                span.icon{
                    margin-top: 3px;
                    font-size: 2.2rem;
                    position: absolute;
                    top: 50%;
                    left: 10px;
                    transform: translate(0, -50%);
                }
                &.-active{
                    color: $robins-egg;
                    span.icon{
                        color: $robins-egg;
                    }
                }
            }
            button{
                width: 40px;
                padding-right: 0;
                border: 0;
            }
        }
    }
}
