.-list{
    > footer{
        text-align: center;
        button.-load{
            font-size: 1.6rem;
            font-family: ContrailOne;
            text-transform: uppercase;
            color: $aqua-blue;
            background: transparent;
            border: 0;
            outline: none
        }
    }
}
