.orders{
    &.-list, .-list{
        > header{
            padding-top: 60px;
            text-align: center;
            h2{
                font-size: 5rem;
                line-height: 49px;
            }
        }
        > article{
            margin-top: 30px;
            margin-bottom: 30px;
            > p{
                font-size: 1.5rem;
                color: $cool-grey;
            }
            .wrapper{
                background: $white-two;
                padding: 30px 40px;
                border-radius: 4px;
            }
            header{
                position: relative;
                h2{
                    text-transform: uppercase;
                    font-size: 2.4rem;
                    color: $cool-grey;
                    padding-bottom: 20px;
                    border-bottom: 1px solid $silver;
                }
                .status{
                    position: absolute;
                    top: 0;
                    right: 0;
                    span.text{
                        float: left;
                        margin-right: 20px;
                        text-align: right;
                        font-size: 1.2rem;
                        line-height: 120%;
                        color: $cool-grey;
                        strong{
                            display: block;
                        }
                    }
                    span.square{
                        width: 30px;
                        height: 30px;
                        background-color: $silver;
                        border-radius: 4px;
                        float: right;
                        &.-pending{
                            background-color: $butterscotch;
                        }
                        &.-approved{
                            background-color: $dark-lime-green;
                        }
                        &.-rejected{
                            background-color: $watermelon;
                        }
                    }
                }
            }
            article{
                padding: 20px 0;
                border-bottom: 1px solid $silver;
                h3{
                    text-transform: uppercase;
                    font-size: 2rem;
                    color: $dark-grey;
                    a{
                        color: $dark-grey;
                    }
                }
                h4{
                    color: $aqua-blue;
                    text-transform: uppercase;
                    font-size: 1.3rem;
                }
                ul{
                    padding-left: 0;
                    li{
                        list-style: none;
                        font-size: 1.5rem;
                        color: $cool-grey;
                    }
                }
                span.price{
                    display: block;
                    text-align: right;
                    font-family: ContrailOne;
                    color: $cool-grey;
                    font-size: 2rem;
                    line-height: 100%;
                }
            }
            footer{
                text-align: right;
                padding-top: 20px;
                .total{
                    span{
                        display: block;
                        font-family: ContrailOne;
                        line-height: 120%;
                        font-size: 2rem;
                        &:first-child{
                            color: $cool-grey;
                            text-transform: uppercase;
                        }
                        &:last-child{
                            color: $dark-grey;
                        }
                    }
                }
            }
        }
    }
}
