.package{
    /* index */
    &.-list, .-list{
        margin: 40px 0 80px;
        float: left;
        width: 100%;
        > h3{
            font-size: 2.4rem;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        > header{
            h2{
                text-transform: uppercase;
            }
        }
        article{
            position: relative;
            .wrapper{
                position: relative;
                height: 370px;
                background-size: cover;
                background-position: center;
                margin-top: 20px;
                border-radius: 4px;
                overflow: hidden;
            }
            .excerpt{
                color: #fff;
            }
                aside{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 260px;
                    background: rgba($dark-grey, 0.9);
                    header{
                        padding: 10px;
                        h1{
                            font-size: 3.9rem;
                            text-transform: uppercase;
                        }
                    }
                    footer{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                        right: 10px;
                    }
                }

            .link-overflow{
                position: absolute;
                top: 20px;
                left: 10px;
                right: 10px;
                bottom: 0;
                z-index: 10;
            }
        }
    }
    /* show */
    &.-read, .-read{
        margin-top: 60px;
        article{
            .swiper-container{
                margin: 0 -10px 10px;
                padding: 0 10px 40px 10px;
                img{
                    width: 100%;
                    height: auto;
                    border-radius: 4px;
                    box-shadow: 0 1px 4px rgba(#000, 0.5);
                }
                .swiper-pagination-bullets{
                    text-align: left;
                    padding: 0 5px;
                    .swiper-pagination-bullet{
                        width: 12px;
                        height: 12px;
                        background: #d8d8d8;
                        opacity: 1;
                    }
                    .swiper-pagination-bullet-active{
                        background: $aqua-blue;
                    }
                }
            }
            .nav-tabs{
                font-family: ContrailOne;
                text-transform: uppercase;
                border-color: $aqua-blue;
                border-bottom-width: 2px;
                font-size: 2.4rem;
                .nav-item{
                    margin-bottom: -2px;
                }
                a{
                    border-width: 2px;
                    border-bottom: 0;
                    color: $cool-grey;
                    &.active{
                        border-color: $aqua-blue;
                        border-radius: 4px 4px 0 0;
                        color: $dark-grey;
                    }
                }
            }
            .tab-content{
                // #terms{
                //     padding: 30px 0;
                //     font-size: 1.6rem;
                //     line-height: 150%;
                // }
                #map{
                    padding: 30px 0;
                    #package-map{
                        height: 400px;
                        width: 100%;
                    }
                }
            }
        }
        aside{
            > header{
                h1{
                    font-size: 5rem;
                    text-transform: uppercase;
                    line-height: 49px;
                }
            }
            .price{
                float: left;
                margin: 40px 0;
                span.current{
                    font-size: 3rem;
                }
            }
            form{
                fieldset{
                    width: 100%;
                    float: left;
                }
                input[type="submit"], a.contact-price{
                    background: $dark-lime-green;
                    color: #fff;
                    text-align: center;
                    padding: 20px;
                    border-radius: 4px;
                    width: 100%;
                    font-family: ContrailOne;
                    width: 100%;
                    display: block;
                    font-size: 1.6rem;
                    text-transform: uppercase;
                }
                a.contact-price{
                  margin-top: 10px;
                }
                .icon.icon-icon-magnifier{
                  font-size: 2.2rem;
                  vertical-align: middle;
                  position: absolute;
                  margin-left: 7px;
                }
            }
        }
    }
    /* globals */
    span.cat{
        display: block;
        color: $aqua-blue;
        font-family: ContrailOne;
        a{
            font-size: 1.4rem;
            text-transform: uppercase;
            display: inline-block;
            color: $aqua-blue;
            &:after{
                content: ", ";
            }
            &:last-child:after{
                content: "";
            }
        }
    }
    .price{
        span.old{
            color: $cool-grey;
            display: block;
            width: 100%;
            text-decoration: line-through;
            font-size: 1.4rem;
            font-family: ContrailOne;
            line-height: 75%;
            span.info{
                padding-left: 3px;
                display: inline-block;
                float: none;
                font-family: OpenSans;
            }
        }
        span.current{
            font-size: 2.6rem;
            color: $dark-grey;
            float: left;
            font-family: ContrailOne;
            margin-right: 10px;
        }
        span.child{
            display: block;
            font-size: 1.2rem;
            font-family: ContrailOne;
        }
        span.info{
            float: left;
            padding: 10px 0;
            line-height: 90%;
            > span{
                color: $dark-grey;
                font-size: 1.2rem;
                display: block;
                &.-highlight{
                    color: $dark-lime-green;
                }
            }
        }
    }
    /* dark background */
    .-dark{
        span.cat{
            color: rgba($white, 0.8);
            a{
                color: rgba($white, 0.8);
            }
        }
        .price{
            display: flex;
            align-items: flex-end;
            flex-flow: row wrap;
            span.current{
                color: $white-two;
            }
            span.info{
                > span{
                    color: $white-two;
                    &.-highlight{
                        color: $pale-lime;
                    }
                }
            }
        }
    }
}
