$dark-grey: #24272b;
$robins-egg: #70fbff;
$slate-grey: #656b74;
$pale-lime: #cdff70;
$butterscotch: #ffbc4b;
$white: #ffffff;
$white-two: #f5f5f5;
$dark-lime-green: #76b400;
$watermelon: #ff4b61;
$cool-grey: #9aa0a9;
$aqua-blue: #00d5da;
$silver: #d3d8df;
