aside{
    &.-sidebar, .sidebar{
        margin-top: 60px;
        margin-bottom: 60px;
        h3{
            font-size: 2.4rem;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        h4{
            font-size: 1.6rem;
            text-transform: uppercase;
            line-height: 170%;
            margin-bottom: 0;
            color: $cool-grey;
        }
        nav{
            > a, > span{
                text-transform: uppercase;
                font-family: ContrailOne;
                font-size: 1.5rem;
                line-height: 170%;
                display: block;
                color: $aqua-blue;
                &.-active{
                    color: $cool-grey;
                }
            }
        }
        .-form-default{
            input[type="submit"]{
                font-size: 1.3rem;
            }
        }
        .instagram{
            margin-bottom: 30px;
            h3{
                a{
                    font-size: 1.4rem;
                }
            }
        }
        .tripadvisor{
            ul{
                padding-left: 0;
                li{
                    list-style: none;
                }
            }
            .widSSPData{
                padding: 0 !important;
            }
            .certificate{
                text-align: center;
                padding-top: 20px;
                img{
                    width: 60%;
                    height: auto;
                }
            }
        }
    }
}
